body {
    background-color: aliceblue;
}

.ex1 {
    display: flex;
    flex-direction: row;
    background-color: blue;
    gap: 10px;
}

.ex1 div {
    background-color: grey;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.ex2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 255, 0);
    gap: 10px;
}

.ex2 div {
    background-color: grey;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex3 {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(68, 0, 255);
    gap: 10px;
}

.ex3 div {
    background-color: grey;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex4 {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(68, 0, 255);
    gap: 10px;
}

.ex4 div {
    background-color: grey;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex5 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(87, 10, 10);
    gap: 10px;
}

.ex5 div {
    background-color: grey;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex6 {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: rgb(87, 10, 10);
    gap: 10px;
}

.ex6 div {
    background-color: grey;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex7 {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    background-color: rgb(87, 10, 10);
    gap: 10px;
}

.ex7 div {
    background-color: grey;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}